@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');



.background img{
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    width: 51cm;
    height: 944px;
    
}

.regiform{
    
    position: fixed;
    top: 118px;
    left: 142px;
    right: 0;
    max-width: 500px;
    width: 100%;
    background: url(iamges/regipng.png);
    margin: 20px auto;
    padding: 30px;
    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.regiform h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: red;
    text-transform: uppercase;
    text-align: center;
}

.regiform .form{
    width: 100%;
}

.regiform .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.regiform .form .input_field label{
    width: 180px;
    margin-right: 10px;
    font-size: 19px;
}
.regiform .form .input_field .input
{
    width: 100%;
    border: 2px  solid black;
    font-size: 15px;
    padding: -37px 1px;
    border-radius: 3px;
    transition: all 0.5s ease;
    padding: 7px;

}

.regiform .form .input_field .input:focus,
.regiform .form .input_field .textarea,
.regiform .form .input_field .custom_select select,
.regiform .form .input_field .custom_selectg select{
    border: 2px solid red;
}

.regiform .form .input_field .textarea{
    width: 100%;
    border: 2px solid black;
    font-size: 15px;
    padding: -37px 1px;
    border-radius: 3px;
    resize: none;
    height: 70px;
}

.regiform .form .input_field .custom_select,
.regiform .form .input_field .custom_selectg{
    position: relative;
    width: 100%;
    height: 40px;
    
}

.regiform .form .input_field .custom_select select,
.regiform .form .input_field .custom_selectg select{
    appearance: none;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    font-weight: bold;

}
.regiform .form .input_field_terms p{
    font-size: 16px;
    color: crimson;
    margin-left: 37px;
    margin-top: -17px;
    margin-bottom: 22px;

}
.regiform .form .input_field_terms .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.regiform .form .input_field_terms .check input[type="checkbox"]{
    top: 0;
    left: 0;
    opacity: 5;
    color: red;
    position: absolute;
}
.regiform .form .input_field_terms .check .checkmark{
    width: 56px;
    height: 50px;
    display: block;
    position: relative;
}
.regiform .form .input_field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 700;
    border: 3px solid red;
    border-radius: 25px;
    color: rgb(255, 6, 6);
    background-color: transparent;
    margin-bottom: 8px;
}
.logoo img{
    position: absolute;
    margin: 41px;
    width: 160px;


}

.loginn a{
    width: 100%;
    padding: 8px 10px;
    font-size: 18px;
    border: 3px solid red;
    border-radius: 18px;
    color: rgb(255, 6, 6);
    background-color: transparent;
    text-align: center;
    position: relative;
    padding-left: 182px;
    padding-right: 191px;
    font-weight: 900;
    text-decoration: none;
}
